In [1]:
import pandas as pd
import numpy as np
import mlrose

/home/bennour/miniconda3/envs/Py/lib/python3.7/site-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)

In [2]:
df = pd.read_csv("/home/bennour/Downloads/tunisia_cities - data.csv")
cities = df.columns.drop('City')

In [3]:
df.fillna(value=0, inplace=True)
del df['City']

In [4]:
df.columns = np.arange(len(df.columns))

In [5]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [6]:
df.insert(0, column = 'city', value = np.arange(14))

In [7]:
df

,city,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0,0.0,553.0,596.0,471.0,570.0,218.0,332.0,547.0,524.0,335.0,208.0,136.0,65.0,609.0
1,1,553.0,0.0,274.0,149.0,249.0,344.0,397.0,225.0,146.0,285.0,401.0,492.0,488.0,287.0
2,2,596.0,274.0,0.0,271.0,118.0,397.0,377.0,49.0,387.0,261.0,388.0,649.0,531.0,111.0
3,3,471.0,149.0,125.0,0.0,100.0,212.0,252.0,76.0,241.0,136.0,263.0,493.0,406.0,136.0
4,4,570.0,249.0,118.0,100.0,0.0,372.0,352.0,69.0,362.0,236.0,363.0,623.0,506.0,52.0
5,5,218.0,344.0,397.0,212.0,372.0,0.0,145.0,348.0,315.0,136.0,57.0,251.0,153.0,410.0
6,6,332.0,397.0,377.0,252.0,352.0,145.0,0.0,328.0,222.0,192.0,202.0,241.0,198.0,390.0
7,7,547.0,225.0,49.0,76.0,69.0,348.0,328.0,0.0,338.0,212.0,339.0,569.0,482.0,62.0
8,8,524.0,146.0,387.0,241.0,362.0,315.0,222.0,338.0,0.0,306.0,372.0,463.0,459.0,400.0
9,9,335.0,285.0,261.0,136.0,236.0,136.0,192.0,212.0,306.0,0.0,127.0,387.0,270.0,274.0
10,10,208.0,401.0,388.0,263.0,363.0,57.0,202.0,339.0,372.0,127.0,0.0,261.0,143.0,401.0
11,11,136.0,492.0,649.0,493.0,623.0,251.0,241.0,569.0,463.0,387.0,261.0,0.0,175.0,631.0
12,12,65.0,488.0,531.0,406.0,506.0,153.0,198.0,482.0,459.0,270.0,143.0,175.0,0.0,544.0
13,13,609.0,287.0,111.0,138.0,52.0,410.0,390.0,62.0,400.0,274.0,401.0,631.0,544.0,0.0

In this report we will study the traveling salesman probelm, from the perspective of a politician who wants to visit the cities proposed in the table below, and he wants to minimize the total distance. 
We consider this problem as symetric for the sake of simplicity of impliementation.

In [8]:
df_1 = pd.melt(df, id_vars= df.columns[0], var_name='distination')
df_1 = df_1[df_1.value > 0]
df_1

     city distination  value
1       1           0  553.0
2       2           0  596.0
3       3           0  471.0
4       4           0  570.0
5       5           0  218.0
..    ...         ...    ...
190     8          13  400.0
191     9          13  274.0
192    10          13  401.0
193    11          13  631.0
194    12          13  544.0

[182 rows x 3 columns]

In [9]:
# creating a list of couples 
df_2 = df_1.values.tolist()

In [10]:
print(df_2)

[[1, 0, 553.0], [2, 0, 596.0], [3, 0, 471.0], [4, 0, 570.0], [5, 0, 218.0], [6, 0, 332.0], [7, 0, 547.0], [8, 0, 524.0], [9, 0, 335.0], [10, 0, 208.0], [11, 0, 136.0], [12, 0, 65.0], [13, 0, 609.0], [0, 1, 553.0], [2, 1, 274.0], [3, 1, 149.0], [4, 1, 249.0], [5, 1, 344.0], [6, 1, 397.0], [7, 1, 225.0], [8, 1, 146.0], [9, 1, 285.0], [10, 1, 401.0], [11, 1, 492.0], [12, 1, 488.0], [13, 1, 287.0], [0, 2, 596.0], [1, 2, 274.0], [3, 2, 125.0], [4, 2, 118.0], [5, 2, 397.0], [6, 2, 377.0], [7, 2, 49.0], [8, 2, 387.0], [9, 2, 261.0], [10, 2, 388.0], [11, 2, 649.0], [12, 2, 531.0], [13, 2, 111.0], [0, 3, 471.0], [1, 3, 149.0], [2, 3, 271.0], [4, 3, 100.0], [5, 3, 212.0], [6, 3, 252.0], [7, 3, 76.0], [8, 3, 241.0], [9, 3, 136.0], [10, 3, 263.0], [11, 3, 493.0], [12, 3, 406.0], [13, 3, 138.0], [0, 4, 570.0], [1, 4, 249.0], [2, 4, 118.0], [3, 4, 100.0], [5, 4, 372.0], [6, 4, 352.0], [7, 4, 69.0], [8, 4, 362.0], [9, 4, 236.0], [10, 4, 363.0], [11, 4, 623.0], [12, 4, 506.0], [13, 4, 52.0], [0, 5, 218.0], [1, 5, 344.0], [2, 5, 397.0], [3, 5, 212.0], [4, 5, 372.0], [6, 5, 145.0], [7, 5, 348.0], [8, 5, 315.0], [9, 5, 136.0], [10, 5, 57.0], [11, 5, 251.0], [12, 5, 153.0], [13, 5, 410.0], [0, 6, 332.0], [1, 6, 397.0], [2, 6, 377.0], [3, 6, 252.0], [4, 6, 352.0], [5, 6, 145.0], [7, 6, 328.0], [8, 6, 222.0], [9, 6, 192.0], [10, 6, 202.0], [11, 6, 241.0], [12, 6, 198.0], [13, 6, 390.0], [0, 7, 547.0], [1, 7, 225.0], [2, 7, 49.0], [3, 7, 76.0], [4, 7, 69.0], [5, 7, 348.0], [6, 7, 328.0], [8, 7, 338.0], [9, 7, 212.0], [10, 7, 339.0], [11, 7, 569.0], [12, 7, 482.0], [13, 7, 62.0], [0, 8, 524.0], [1, 8, 146.0], [2, 8, 387.0], [3, 8, 241.0], [4, 8, 362.0], [5, 8, 315.0], [6, 8, 222.0], [7, 8, 338.0], [9, 8, 306.0], [10, 8, 372.0], [11, 8, 463.0], [12, 8, 459.0], [13, 8, 400.0], [0, 9, 335.0], [1, 9, 285.0], [2, 9, 261.0], [3, 9, 136.0], [4, 9, 236.0], [5, 9, 136.0], [6, 9, 192.0], [7, 9, 212.0], [8, 9, 306.0], [10, 9, 127.0], [11, 9, 387.0], [12, 9, 270.0], [13, 9, 274.0], [0, 10, 208.0], [1, 10, 401.0], [2, 10, 388.0], [3, 10, 263.0], [4, 10, 363.0], [5, 10, 57.0], [6, 10, 202.0], [7, 10, 339.0], [8, 10, 372.0], [9, 10, 127.0], [11, 10, 261.0], [12, 10, 143.0], [13, 10, 401.0], [0, 11, 136.0], [1, 11, 492.0], [2, 11, 649.0], [3, 11, 493.0], [4, 11, 623.0], [5, 11, 251.0], [6, 11, 241.0], [7, 11, 569.0], [8, 11, 463.0], [9, 11, 387.0], [10, 11, 261.0], [12, 11, 175.0], [13, 11, 631.0], [0, 12, 65.0], [1, 12, 488.0], [2, 12, 531.0], [3, 12, 406.0], [4, 12, 506.0], [5, 12, 153.0], [6, 12, 198.0], [7, 12, 482.0], [8, 12, 459.0], [9, 12, 270.0], [10, 12, 143.0], [11, 12, 175.0], [13, 12, 544.0], [0, 13, 609.0], [1, 13, 287.0], [2, 13, 111.0], [3, 13, 136.0], [4, 13, 52.0], [5, 13, 410.0], [6, 13, 390.0], [7, 13, 62.0], [8, 13, 400.0], [9, 13, 274.0], [10, 13, 401.0], [11, 13, 631.0], [12, 13, 544.0]]

In [11]:
fitness_dists = mlrose.TravellingSales(distances=df_2)

In [12]:
problem_fit = mlrose.TSPOpt(length= 14,
                           fitness_fn= fitness_dists, 
                           maximize=False)

In [13]:
schedule = mlrose.ExpDecay()

In [14]:
best_state, best_fitness = mlrose.simulated_annealing(problem_fit,
                                                     random_state=1,
                                                      max_attempts=182,
                                                      max_iters= 10000,
                                                      schedule=schedule)

In [15]:
print('The best state found is: ', best_state, '\n', cities[best_state])

print('The fitness at the best state is: ', best_fitness)

The best state found is:  [ 8  6 11  0 12 10  5  9  2  7 13  4  3  1]
 Index(['NEFTA', 'KASSERINE', 'TABARKA', 'BIZERTE', 'TUNIS', 'SOUSSE',
       'KAIROUAN', 'SFAX', 'TATAOUINE', 'MEDENINE', 'ZARZIS', 'DJERBA',
       'GABES', 'DOUZ'],
      dtype='object')
The fitness at the best state is:  1819.0